@font-face {
    font-family: 'Neiko';
    src: url('subset-Neiko-Regular.woff2') format('woff2'),
        url('subset-Neiko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

