.header {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.2rem 0.2rem;
    transition: background 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    height: 100px;
    box-sizing: border-box;
    /*background: transparent;*/
}

.header.scrolled {
    opacity: 100%;
    /*background: rgba(246, 231, 207, 0.95);*/
    /*background: rgb(235 231 180 / 95%);*/
    background: rgb(255 236 204);
    backdrop-filter: blur(6px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    /*padding: 0.2rem 0.2rem;*/
}

.header-content {
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* LOGO */
.header-logo {
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-logo:hover {
    transform: scale(1.05) rotate(-1deg);
}

/* NAV DESKTOP */
.desktop-nav {
    display: flex;
    gap: 2rem;
}

.desktop-nav a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 600;
    position: relative;
    transition: color 0.2s ease;
}

.desktop-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #2f5d3a;
    transition: width 0.3s ease;
}

.desktop-nav a:hover::after,
.desktop-nav a.active::after {
    width: 100%;
}

.desktop-nav a.active {
    color: #2f5d3a;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background: #2f5d3a;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #f6e7cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: right 0.4s ease;
    z-index: 999;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 700;
}

.mobile-menu a.active {
    color: #2f5d3a;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}
