.testimonials {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
}

.testimonials-header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 4rem;
}

.testimonial-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    border: 2px solid #2f5d3a;
}

.testimonials-header h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: #2f5d3a;
    margin-bottom: 1rem;
    font-weight: 800;
}

.testimonials-header p {
    font-size: 1.1rem;
    color: #1f1f1f;
}

.testimonials-grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.5rem;
}

/* CARD */
.testimonial-card {
    background-color: #ffffff;
    padding: 2.5rem 2rem 2rem;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    position: relative;
    transform: translateY(40px) rotate(-1deg);
    opacity: 0;
    transition: all 0.6s ease;
}

.testimonial-card:nth-child(even) {
    transform: translateY(40px) rotate(1deg);
}

.testimonial-card.visible {
    transform: translateY(0) rotate(0);
    opacity: 1;
}

.testimonial-card:hover {
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.18);
    transform: translateY(-6px) scale(1.02);
}

.testimonial-card:hover .testimonial-avatar {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


/* VIRGOLETTE */
.quote {
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: 4rem;
    color: #2f5d3a;
    font-weight: 800;
    opacity: 0.15;
}

/* TESTO */
.testimonial-text {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1.5rem;
}

/* AUTORE */
.testimonial-author {
    display: flex;
    flex-direction: column;
    /*gap: 0.2rem;*/
}

.testimonial-author strong {
    color: #2f5d3a;
    font-size: 1rem;
}

.testimonial-author span {
    font-size: 0.9rem;
    color: #666;
}

/* Preview nella grid */
.testimonial-text.preview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* MODAL */
.testimonial-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.testimonial-modal-content {
    background: #ffffff;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 16px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

.testimonial-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.testimonial-readmore {
    font-size: 0.85rem;
    opacity: 0.6;
    margin-top: 8px;
    display: inline-block;
}


@media (max-width: 1200px) {

    .testimonials-grid {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}